/* .container {
  max-width: ;
} */

/* ---------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* utility classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.flex {
  display: flex;
}
.hr {
  background-color: grey;
}
.hr-dotted {
  border-top: 2px dotted #04a4f4;
  height: 3px;
  width: 100%;
}
.hr-dotted-B {
  border-top: 2px dotted #04a4f4;
  height: 3px;
  width: 50%;
}
.container {
  max-width: 1100px;
  margin-inline: auto;
}
/* ---------------------------------------------------------------- */
/* banner */
/* ---------------------------------------------------------------- */
.banner {
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
.logo1 {
  width: 200px;
}
.logo2 {
  width: 60px;
}
.banner-icons {
  font-size: 25px;
}
.box {
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flag {
  gap: 5px;
  width: 60px;
  height: 30px;
}
/* ---------------------------------------------------------------- */
/* Navbar */
/* ---------------------------------------------------------------- */
.navbar {
  color: white;
  background-color: #04a4f4;
  /* padding: 18px; */
  align-items: center;
  gap: 40px;
  height: 50px;
}
.left-part {
  align-items: center;
  padding: 18px;
  gap: 40px;
}
.links {
  cursor: pointer;
}
.right-part {
  color: white;
}
.right-part input {
  border: none;
  width: 120%;
  height: 100%;

  background-color: #187cf4;
}
/* ---------------------------------------------------------------- */
/* hero-Section */
/* ---------------------------------------------------------------- */
.hero-section {
  width: 100%;
  height: 280px;
  /* height: 100%; */
}
.hero {
  padding: 50px;
  height: 100%;
  width: 100%;
  background-color: #081c4c;
}
.knee-img {
  width: 300px;
  height: 300px;
}
.hero-info {
  gap: 15px;
  color: white;
  flex-direction: column;
}
.enquiry {
  height: 4vh;
  width: 30%;
  background-color: #04a4f4;
  color: white;
  border: none;
  border-radius: 7px;
}
.enquiry:hover {
  color: #04a4f4;
  background-color: #ffffff;
}
/* ---------------------------------------------------------------- */
/* Main-Navbar */
/* ---------------------------------------------------------------- */
.main-navbar {
  padding: 18px;
  gap: 40px;
  align-items: center;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* ---------------------------------------------------------------- */
/* treatment-overview */
/* ---------------------------------------------------------------- */
.treatment-overview {
  height: 340px;
  justify-content: space-evenly;
  align-items: center;
  gap: 150px;
}
.text-part {
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

/* ---------------------------------------------------------------- */
/* eligibility-prepartion */
/* ---------------------------------------------------------------- */
.main-container {
  height: 900px;
  flex-direction: column;
  /* gap: 40px; */
  justify-content: space-around;
  align-items: center;
  /* justify-content: center; */
}
.eligibility-for-treatment {
  height: 340px;
  /* justify-content: space-evenly; */
  align-items: center;
  /* gap: 150px; */
}
.preparation-for-treatment {
  height: 340px;
  /* justify-content: space-evenly; */
  align-items: center;
  /* gap: 150px; */
}
.need-help-card {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 0.5px solid black;
  padding: 20px;
  box-shadow: 0 0 3px 1px grey;
}
.need-help-card-text {
  flex-direction: column;
  gap: 10px;
}
.form-input {
  padding: 5px;
  height: 12%;
  width: 100%;
}
.desc-input {
  padding: 5px;
  height: 20%;
  width: 100%;
}
.need-help-card-btn {
  height: 12%;
  width: 100%;
  background-color: #04a4f4;
  color: white;
  border: none;
  border-radius: 7px;
}
.need-help-card-btn:hover {
  color: #04a4f4;
  border: 0.5px solid #04a4f4;
  background-color: #ffffff;
}
/* ---------------------------------------------------------------- */
/* about-prepartion */
/* ---------------------------------------------------------------- */

.about-treatment {
  /* justify-content: center; */

  height: 340px;
  align-items: center;
  gap: 50px;
}
/* ---------------------------------------------------------------- */
/* post-treatment-care-treatment */
/* ---------------------------------------------------------------- */
.post-treatment-care-treatment {
  height: 340px;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}
.post-treatment-icon {
  gap: 9px;
}
/* ---------------------------------------------------------------- */
/* treatment-recovery */
/* ---------------------------------------------------------------- */
.treatment-recovery {
  height: 340px;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}

/*-----------------------------------------------------------------
    -treatment-FAQ
  ----------------------------------------------------------------- */
.treatment-FAQ {
  height: 340px;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}
.treatment-text {
  flex-direction: column;
  gap: 10px;
}
.treatment-icon {
  gap: 8px;
}
/*-----------------------------------------------------------------
    -carousel
  ----------------------------------------------------------------- */

/* .carousel-img {
  margin-top: 15px;
  height: 100%;
  width: 100%;
}
.carousel-img img {
  height: 100%;
  width: 100%;
}
.carousel-card {
  width: 300px;
  border: 1px solid slategray;
  padding: 12px;
}
.patient {
  align-items: center;
  justify-content: center;
} */
