/* .container {
  max-width: ;
} */

/* ---------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* utility classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.flex {
  display: flex;
}
.hr {
  background-color: grey;
}
.hr-dotted {
  border-top: 2px dotted #04a4f4;
  height: 3px;
  width: 100%;
}
.hr-dotted-B {
  border-top: 2px dotted #04a4f4;
  height: 3px;
  width: 50%;
}
.container {
  max-width: 1100px;
  margin-inline: auto;
}
/* ---------------------------------------------------------------- */
/* banner */
/* ---------------------------------------------------------------- */
.banner {
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
.logo1 {
  width: 200px;
}
.logo2 {
  width: 60px;
}
.banner-icons {
  font-size: 25px;
}
.box {
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flag {
  gap: 5px;
  width: 60px;
  height: 30px;
}
/* ---------------------------------------------------------------- */
/* Navbar */
/* ---------------------------------------------------------------- */
.navbar {
  color: white;
  background-color: #04a4f4;
  /* padding: 18px; */
  align-items: center;
  gap: 40px;
  height: 50px;
}
.left-part {
  align-items: center;
  padding: 18px;
  gap: 40px;
}
.links {
  cursor: pointer;
}
.right-part {
  color: white;
}
.right-part input {
  border: none;
  width: 120%;
  height: 100%;

  background-color: #187cf4;
}
/* ---------------------------------------------------------------- */
/* hero-Section */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* Main-Navbar */
/* ---------------------------------------------------------------- */
.main-navbar {
  padding: 18px;
  gap: 40px;
}
/* ---------------------------------------------------------------- */
/* treatment-overview */
/* ---------------------------------------------------------------- */
.treatment-overview {
  height: 340px;
  justify-content: space-evenly;
  align-items: center;
  gap: 150px;
}
.text-part {
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

/* ---------------------------------------------------------------- */
/* eligibility-prepartion */
/* ---------------------------------------------------------------- */
.main-container {
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.eligibility-for-treatment {
  height: 340px;
  /* justify-content: space-evenly; */
  align-items: center;
  /* gap: 150px; */
}
.preparation-for-treatment {
  height: 340px;
  /* justify-content: space-evenly; */
  align-items: center;
  /* gap: 150px; */
}
/* ---------------------------------------------------------------- */
/* about-prepartion */
/* ---------------------------------------------------------------- */

.about-treatment {
  /* justify-content: center; */

  height: 340px;
  align-items: center;
  gap: 50px;
}
/* ---------------------------------------------------------------- */
/* post-treatment-care-treatment */
/* ---------------------------------------------------------------- */
.post-treatment-care-treatment {
  height: 340px;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}
/* ---------------------------------------------------------------- */
/* treatment-recovery */
/* ---------------------------------------------------------------- */
.treatment-recovery {
  height: 340px;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}
/*-----------------------------------------------------------------
    -treatment-FAQ
  ----------------------------------------------------------------- */
/*-----------------------------------------------------------------
    -carousel
  ----------------------------------------------------------------- */

/* .carousel-img {
  margin-top: 15px;
  height: 100%;
  width: 100%;
}
.carousel-img img {
  height: 100%;
  width: 100%;
}
.carousel-card {
  width: 300px;
  border: 1px solid slategray;
  padding: 12px;
}
.patient {
  align-items: center;
  justify-content: center;
} */
